@import "../../styles/variables.scss";

.todo__element {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-top: 15px;
  padding: 3px;
  width: 100%;
  background-color: var(--text-color);
  align-items: center;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
  }
}

.todo__element__text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
  color: var(--variant-bg);
}

.iconTodos {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  color: var(--variant-bg);
}
