@import "../../styles/variables.scss";

.todo__element {
  display: flex;
  width: 25vw;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  background-color: $todo-background;
  align-items: center;
}

.todo__element__text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.icon {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .todo__element {
    width: 85vw;
  }
}
