@import "../../styles/variables.scss";

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  z-index: 1000;

  .menu-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    z-index: 1100;

    .line {
      display: block;
      width: 30px;
      height: 3px;
      background: var(--text-color);
      margin: 5px 0;
      transition: 0.3s;

      &.open:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
      }

      &.open:nth-child(2) {
        opacity: 0;
      }

      &.open:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }
  }

  .menu-content {
    position: fixed;
    top: 60px;
    right: 0;
    width: 250px;
    height: calc(100vh - 60px);
    background-color: var(--sidebar-bg);
    color: var(--text-color);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    padding: 20px;

    &.open {
      transform: translateX(0);
    }

    button {
      font-family: $app-font;
      font-size: 22px;
      color: var(--text-color);
      background-color: transparent;
      border: none;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: var(--text-color);
        color: var(--variant-bg);
        border-radius: 10px;
      }
    }
  }
}
