@import "./variables.scss";

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: $app-font;
  font-size: 16px;
  color: var(--text-color);
  background: var(--bg-gradient);
  margin: 0;
}

.dark-mode {
  @include mode(dark);
}

.light-mode {
  @include mode(light);
}
