@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

$app-font: "Neucha", cursive;
$text-color: #feda6a;
$purple-color: rgba(57, 63, 77, 1);

// Define color modes
$modes: (
  light: (
    text-color: #393f4d,
    bg-gradient: linear-gradient(180deg, rgba(255, 255, 255, 1) 29%, rgba(57, 63, 77, 1) 100%),
    variant-bg: #feda6a,
    form-bg: rgb(248, 248, 255),
    close-icon: rgba(57, 63, 77, 1),
    todo-bg: rgb(248, 248, 255),
    sidebar-bg: rgb(248, 248, 255),
  ),
  dark: (
    text-color: #feda6a,
    bg-gradient: linear-gradient(180deg, rgba(29, 30, 34, 1) 0%, rgba(57, 63, 77, 1) 65%),
    variant-bg: rgba(57, 63, 77, 1),
    form-bg: rgba(57, 63, 77, 1),
    close-icon: #feda6a,
    todo-bg: #feda6a,
    sidebar-bg: rgba(57, 63, 77, 1),
  ),
);

// Define mixin to set the colors based on mode
@mixin mode($mode) {
  @each $prop, $value in map-get($modes, $mode) {
    --#{$prop}: #{$value};
  }
}
