@import "../../styles/variables.scss";

.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}
.input__box {
  background-color: #393f4d;
  font-family: $app-font;
  width: 100%;
  padding: 13px;
  border: 2px solid $text-color;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
  color: $text-color;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;

  &:focus ~ label,
  &:valid ~ label {
    transform: translateY(-26px) scale(0.6);
    padding: 0 35px;
    border-radius: 15px;
    padding: 4px 9px 4px;
  }
  &__label {
    position: absolute;
    left: 12px;
    padding: 8px 20px;
    font-size: 22px;
    border-radius: 50px;
    pointer-events: none;
    color: $text-color;
    text-transform: uppercase;
    transition: 0.5s linear;
    background-color: #393f4d;
  }
}

.input__submit {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 12px 7px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 18px;
  background-color: $text-color;
  font-family: $app-font;
  font-weight: 800;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  &:hover {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
  }
}
